.closeIconButton {
	height: 60px;
	color: #fff;
}

.openIconContainer {
	color: #2b1607;
	border-radius: 50%;
	padding: 0.6rem;
}

.drawer {
	margin-top: 125px;
	min-width: 300px !important;
	max-width: 307px !important;
	background-color: #da291c;
	z-index: 9999;
}

@media screen and (min-width: 1024px) {
	.drawer {
		margin-top: 69px;
	}
}

.closeIconContainer {
	display: none;
}
