.styledLinkContent{
  font-size: 1rem;
  font-weight: 500;
  justify-content: left;
  overflow: hidden;
}

.styledLinkContent--menuItemMobile,
.menuItem--menuItemMobile .styledLinkContent {
  color: #fff;
}

.menuItem--menu-title {
  margin: 0 5px;
}

.menuContainer--main-menu {
  justify-content: center;
}

.styledLinkContainer--menu-title {
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 0;
  position: relative;
}

.styledLinkContent--menu-title {
  color: #ede2cd;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 14px;
  line-height: 37px;
  padding: 0 4px;
  border-bottom: 0 solid #d92b27;
}

.styledLinkContainer--menu-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #a0a0a0;
  top: 16px;
  left: -20px;
  background-color: #ede2cd;
}

.styledLinkContainer--last::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #a0a0a0;
  top: 16px;
  right: -20px;
  background-color: #ede2cd;
}


.styledLinkContent--menu-title:hover {
  border-bottom-width: 4px;
}

.menuContainerNav--menuFooter {
  margin: 0 50px 0 50px;
}

/* Footer */
.menuContainerNav--menuFooter .styledLinkContainer {
  margin-left: 0;
}

:global(.vtex-store-drawer-0-x-drawer) .menuContainerNav {
  width: 100%;
}

:global(.vtex-store-drawer-0-x-drawer) .menuItemInnerDiv {
  padding: .5rem 1rem .5rem 1rem;
}

:global(.vtex-store-drawer-0-x-drawer) .menuItemInnerDiv:hover {
  background-color: #ededed;
}

:global(.vtex-store-drawer-0-x-drawer) .menuItemInnerDiv:hover .styledLinkContent {
  color: #633b7f;
}

:global(.vtex-store-drawer-0-x-drawer) .styledLinkContainer {
  margin: 0;
}

:global(.vtex-store-drawer-0-x-drawer) .menuItem--menu-title {
  padding: 1rem;
}

:global(.vtex-store-drawer-0-x-drawer) .styledLinkContent--menu-title {
  margin-left: .25rem;
}

:global(.vtex-store-drawer-0-x-drawer) .styledLinkIcon {
  padding-right: 1rem;
}

.accordionIcon {
  margin-left: auto;
  color: #fff;
}

:global(.vtex-store-drawer-0-x-drawer) .submenuAccordion {
  padding: 0;
}

:global(.vtex-store-drawer-0-x-drawer) .submenuAccordion .menuItemInnerDiv {
  padding-left: 3.5rem;
}

:global(.vtex-store-drawer-0-x-drawer) .menuContainer--third-level .styledLinkContainer {
  padding: .5rem 1rem 0.5rem 4.5rem;
}

:global(.vtex-store-drawer-0-x-drawer) .menuContainer--third-level  .styledLinkContainer:hover {
  background-color: #ededed;
}

:global(.vtex-store-drawer-0-x-drawer) .menuContainer--third-level  .styledLinkContainer:hover .styledLink {
  color: #633b7f;
}

.menuContainer--menuFooter .styledLinkContent {
  color: #fff;
}

.styledLinkContent--drawer-link {
  font-size: 1.5rem;
  color: #fff;
  padding: .5rem 1rem;
}



