.flexRow--main-header-mobile,
.flexRow--main-header-search-mobile {
  background: rgb(248, 243, 235);
}

.flexRowContent--main-header {
  border-bottom: 4px solid #fefefe;
  align-items: center;
}

.flexRow--main-menu {
  background: #412512;
  height: 41px;
}

.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  color: #fff;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--mw :global(.vtex-store-components-3-x-container) {
  max-width: 90rem;
}


.flexRow--shelf-top-deals {
  background: #f7f7f7;
}

.flexRowContent--shelf-top-deals {
  margin: 0 auto;
  max-width: 1250px;
}

.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
/*  max-width: 300px;
  min-width: 230px;*/
  min-width: 207px;
  margin-right: 3rem;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
  padding: 1.5rem;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexColChild--productNameBrand :global(.vtex-store-components-3-x-productBrandName){
  font-size: 1.5rem;
  color: #000000;
}

.flexColChild--productNameBrand :global(.vtex-store-components-3-x-productBrandName)::before{
  font-size: 1.5rem;
  content: " - ";
  padding-left: 5px;
}

.flexCol--rightCol {

}
/*
:global(.vtex-flex-layout-0-x-flexCol--ColSmallGalleryGrid){
  flex:grid!important;
  grid-template-columns: 1fr 1fr;
}*/

.flexRow--rowGalleryGrid {
/*  max-width: 1280px;
  margin: 0 auto ;*/
}

.flexRow--rowGalleryGrid :global(.vtex-store-components-3-x-container) {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.flexCol--footerColumnItem {
  display: flex;
  flex-direction: row;
}

.flexColChild--footerColumnItem{
  width: fit-content;
}

.flexColChild--footerColumnItem{
  padding-left: 20px;
}

.flexRow--footer-menu-row {
  background-color: #2f1805;
}

.flexRowContent--footer-menu-row{
  justify-content: center;
}

.flexRowContent--menu-row .items-stretch{
  padding-right: 30px;
}

.flexRowContent--rowGalleryGrid {
  margin-bottom: 20px;
}

.flexCol--main-banner {
  padding: 0 0 20px 9px;
}

.flexCol--search-content {

}

.flexRowContent--search-info-row {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.flexColChild--quickview-add-to-card-button :global(.vtex-button) {
  border-radius: 0;
}

.flexRowContent--shop-by-ailes {
  max-width: 1250px;
  margin: 0 auto;
}


.flexRowContent--product-main-recipe :global(.vtex-button) {
  border: none;  
}

.flexRowContent--product-main-recipe :global(.vtex-button__label) {
  text-transform: uppercase;
}

.flexRow--product {
  margin-bottom: 3rem;
}
