.footerLayout {

}

.footerLayout--footerMobile {
  background-color: #2f1805;
  margin-top: 2rem;
}

.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: center;
}

.socialNetworkWrapper--socialNetworks {
  padding: 0 1rem;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworkLink--socialNetworks{
  margin: 20px 20px 0;
}

.socialNetworksContainer{
    justify-content: center;
    padding: 1rem 0;
}

/* Footer mobile */
.footerLayout--footerMobile :global(.vtex-store-components-3-x-container) {
  margin: 0;
  padding: 0;
}

.footerLayout--footerMobile :global(.vtex-menu-2-x-menuItem--menuItemMobile) {
  padding: .5rem 15px;
}

.footerLayout--footerMobile :global(.vtex-menu-2-x-styledLinkContent) {
  font-size: 16px;
}

.footerLayout--footerMobile .socialNetworksContainer--socialNetworks {
  justify-content: center;
}

.footerLayout--footerMobile .socialNetworkLink--socialNetworks {
  margin: 0 15px 0 15px;
}

.footerLayout--footerMobile :global(.vtex-rich-text-0-x-paragraph--footerMobile) {
  text-align: center;
  font-size: 14px;
}

.footerLayout--footerMobile :global(.vtex-menu-2-x-menuItemInnerDiv) {

}

.socialNetworksContainer--socialNetworks {
  padding: 0;
}

.footerLayout--footerMobile :global(.vtex-menu-2-x-styledLinkContainer) {
  margin-left: 0;
}