.logoLink {
  margin-left: .5rem;
}

.sizeMobile {
  max-width: 200px;
  max-height: 50px;
  min-width: 100px;
  padding: 0;
}

.sizeDesktop {
  display: flex;
  padding: 0;
}

.autoCompleteOuterContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.userAddressContainer {
  margin: 0;
  background-color: transparent;
  border-radius: 5px;
}

.userAddressContainer:hover {
  background-color: rgb(237, 226, 205);
}

.locationMarkerIcon,
.userAddressContainer .container {
  color: #2b1607;
}

.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer {
  padding-top: 0;
  padding-left: .5rem;
  padding-right: .5rem;
}

@media screen and (min-width: 1024px) {
  .searchBarContainer {
    padding: 0;
    min-width: 550px;
  }
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {

}

.searchBarContainer :global(.vtex-input__suffix) {
  color: rgb(65, 37, 18);
  background: rgb(237, 226, 205);
  padding-right: 0;
  border-radius: 0;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {

}

.newsletter .container {

}

.label {

}

.inputGroup {

}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {

}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {

}

.inputGroup :global(.vtex-button) {

}

.buttonContainer {

}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    /* padding: 140px; */
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  font-weight: bold;
}

/* CSS Brand carousel */

.imageElement--brands {
  height: 80px;
  width: 120px;
  min-width: 120px;
  min-height: 80px;
  border-radius: 5px;
}



.productNameContainer {
  font-weight: 400;
}

.productBrandName {
  color: #999;
  font-size: 12px;
}

.price_sellingPrice {
  font-weight: 400;
  font-size: 32px;
}

.container--newsletter {
  padding: 1.5rem 0;
  background-color: #ead594;
  max-width: unset;
}

.form--newsletter{
  display: flex;
  flex-direction: row;
  max-width: none;
  justify-content: center;
}

.label--newsletter {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #412512;
  margin-right: 1rem;
}

.inputGroup--newsletter {
  padding-top: 0;
  min-width: 340px;
  width: 400px;
}

.inputGroup--newsletter :global(.vtex-styleguide-9-x-input) {
  border: none;
}

.productBrandContainer {
  padding-right: .5rem;
}

.priceContainer {
  padding: 1rem 0
}

.shareContainer {
  margin-bottom: 2rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-main-recipe) .shareContainer {
  margin-top: 2rem;
  margin-bottom: 0;
}

.infoCardContainer--shop-by-ailes {
  width: 100%;
  height: 190px;
  margin: 0 0 15px 0;
  position: relative;
  border: none;
}

@media screen and (min-width: 1024px) {
  .infoCardContainer--shop-by-ailes {
    width: 248px;
    margin: 0 15px 15px 15px;
  }
}

.infoCardTextContainer--shop-by-ailes {
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: absolute;
}

.infoCardCallActionContainer--shop-by-ailes {
  margin: 0;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.infoCardCallActionText--shop-by-ailes {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 12px 20px;
  text-decoration: none;
}

.infoCardContainer--banner-recipes {
  margin-top: 3rem;
}

.infoCardTextContainer--banner-recipes {
  width: 100%;
  align-items: center;
}

.infoCardCallActionContainer--banner-recipes {
  text-decoration: none;
}

.infoCardCallActionText--banner-recipes {
  margin: 0;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
}

.userAddressContainer {
  padding-left: 0;
  padding-right: 0;
}
