.container {

}

.container--shop-by-ailes-title {
  max-width: 1250px;
  margin: 30px auto;
}

.wrapper--shop-by-ailes-title {
  width: 50%;
  border-bottom: 3px solid #eee;
  margin: 0 auto;
}

.paragraph--shop-by-ailes-title {
  color: #412512;
  line-height: 24px;
  padding-bottom: 8px !important;
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto -3px;
  width: max-content;
  border-bottom: 3px solid #d92b27;
}

.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.container--delivery-modal-button {
  display: flex;
  font-size: 16px;
  color: #2b1607;
  flex-wrap: nowrap;
  align-items: center;
  height: 40px;
  background-color: hsla(0, 0%, 100%, .2);
  max-width: 600px;
  cursor: pointer;
  padding: 0 8px;
  border-radius: 6px;
}

.container--delivery-modal-button:hover {
  background-color: hsla(0,0%,100%,.4);
}

.paragraph--delivery-modal-button {
  margin: 0;
}

.paragraph--pluLabel {
  margin: 0;
  color: #999;
  font-size: 12px;
  margin-top: 1px;
}

.container--title-line {
  max-width: 1280px;
  margin: 0 auto;
}
.heading--subtitle {
  max-width: 1280px;
  margin: 12px auto;
  font-size: 1.5rem;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }
  .container--about {
    max-width: 85%;
  }
  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }
  .container--title .paragraph {
    line-height: 1.3em;
  }

  /* CSS Brand carousel */
  .container--brands .paragraph {
    margin: 0;
  }

  .container--brands {
    color: #000000;
    text-align: center;
    justify-content: center;
  }  
}

.paragraph--footer-copyright {
  color: #fff;
}

.container--footer-copyright {
  font-size: 14px;
  padding: 10px 0;
  justify-content: center;
}

.paragraph--text-modal-header {
  padding: 0 20px;  
}

/* Footer */
.container--help-message {
  margin: 0;
}

.paragraph--help-message {
  color: #fff;
}

.paragraph--footerMobile {
  text-align: center;
}

.wrapper--footerMobile {
  width: 100%;
}

.paragraph--footerMobile {
  color: #fff;
}

.headingLevel1--recipe-info {
  margin: 1rem 0 0;
  font-size: 2rem;
}

.paragraph--recipe-info {
  margin: 0 0 1rem 0;
}

.paragraph--recipe-info :global(.vtex-tag) {
    color: #f06c00;
    margin-top: 5px;
}




