.minicartContainer {
	margin-right: .5rem;
}

.cartIcon {
    color: #2b1607;
}

.openIconContainer {
	padding: 0;
}

.openIconContainer :global(.vtex-button):hover {
	background-color: #ede2cd;
}

.opened {
	z-index: 1000;
}
