.container {
    font-size: 14px;
    padding-bottom: .5rem;
}

.homeIcon {

}

.caretIcon {
	display: none;
}

.link {
    padding: 0;
}

.link::before {
    content: "/";
    padding: 0 5px;
}

.homeLink::before {
    content: "";
    padding: 0;
}

.arrow {
    padding: 0;
}